*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    /* background-color: rebeccapurple!important; */
}


/* Diving the screen into two sides using flexbox */
.login-container{
    display: flex;
    height: 100vh;

}

/* Left side of screen i.e lightblue side */
.login-container > .left{
    flex-basis: 30%;
    background-color: #BCDFFB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 7%;
    gap: 1%;
    /* position: fixed; */
    /* height: 100%; */
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 53px;
    font-style: italic;
    color: white;
    font-weight: 900;
}

h3{
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-style: italic;
    color: white;
    font-weight: normal;
}

.login-container > .left > img{
    margin-top: 3%;
    width: 70%;
    height: 40%;

}

.sign-up-container {
    display: flex;
    gap: 10px;
}

.sign-up-container p, .sign-up-container a{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 500;
    text-decoration: none
}

/* End of left side styling */

.login-container > .right{
    display: flex;
    flex-basis: 56%;
    flex-direction: column;
    padding-left: 7%;
    /* margin-right: 24%; */
    justify-content: center;
    gap: 1%;
}

/* Right pane styling */
.login-container > .right > h1{
    color: #BCDFFB;
    font-style: normal

}

.login-container > .right > h3{
    color: #8E8586;
    
}

.login-box{
    display: flex;
    align-items: center;
}

.login-box > input{
    border: 2px solid #958D8D;
    border-radius: 10px;
    width: 67%;
    padding: 2%;
    display: block;
    font-size: 17px;
    font-family: 'Inter',sans-serif;
    margin-top: 5%;

}

.login-box > input::placeholder{
    color: rgba(142, 133, 134, 0.45);
    font-family: 'Inter', sans-serif;
}

.login-box > .icon{
    position: absolute;
    right: 17%;
    margin-top: 3%
    /* top: 5%; */
    
}

.login-box > .icon > i{
    color: #BCDFFB;
    
}

/* Style the label text */
label {
    color: rgba(142, 133, 134, 0.45);
    font-size: 14px;
    font-family: 'Inter';
    font-weight: 700;
}
  
  /* Style the checkbox */
input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 5px;
    outline: none;

}

.right .remember{
    display: flex;
    margin-top: 1%;
    margin-right: 29% ;
    justify-content: space-between;
}

.right .remember a{
    color:  #BCDFFB;
    text-decoration: none;
    font-size: 14px;
    font-family:'Inter', sans-serif;
    font-weight: 700;
}

.login-btn{
    padding: 2%;
    background-color: #BCDFFB;
    width: 71%;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-top: 4%;
}  

.login-btn:hover{
    background-color:rgba(142, 133, 134, 0.45) ;
    
}

/* End of right style and login page */

/* Products page styling */
.product-container{
    display: flex;
    height: 100vh;
    /* overflow-x: hidden; */
}

/* Left pane styling */
.product-container > .left{
    flex-basis: 20%;
    background-color: #BCDFFB;
    padding: 1% 0 0 3%;
    position: fixed;
    height: 100vh;
    width: 40vh;

}

.product-container > .left > h3{
    font-weight: 900;
}

.product-container > .left > .menu-items{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    padding-top: 70%;
    /* align-items: center; */
    /* gap: 30%; */
}

.product-container > .left > .menu-items > .item{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    gap: 15%;
    margin-top: 13%;
}

.product-container > .left > .menu-items > .item > a{
    font-size: 18px;
    font-weight: 900;
    font-family: 'Inter',sans-serif;
    text-decoration: none;
    color: white;
    font-style: italic;
    
}


.product-container > .left > .menu-items > .item > i{
    color: white;
    font-size: 20px;
    
}
/* End of left pane styling */


/* Righ pane stlying */

.product-container > .right {
    flex-basis: 74%;
    padding-left: 46vh;
}

/* Nav and search box style */
.product-container > .right > .nav{
    width: 74vw;
    height: 1vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* opacity: 100%; */
}

.product-container > .right > .nav > .search-box{
    width: 30%;
    
}

.product-container > .right > .nav > .search-box > .results{
    display: none;
    box-sizing: border-box;
    width: 22vw;
    position: absolute;
    padding: 1% 1% 0 1%;
    top: 108%;
    border: 1px solid rgba(142, 133, 134, 0.45);
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.product-container > .right > .nav > .search-box > .results > a{
    text-decoration: none;
}

.product-container > .right > .nav > .search-box > .results > a > .search-item{
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    gap: 3%;
}

.product-container > .right > .nav > .search-box > .results > a > .search-item > .category-box > h4{
    color: #BCDFFB;
    font-style: italic;

}

.product-container > .right > .nav > .search-box > .results > a > .search-item > .category-box > p{
    color: #8E8586;
    font-size: 12px;


}

#no-matches{
    margin-bottom: 3%;
    color: #8E8586;
    font-style: italic;
    font-weight: 600;

}
.product-container > .right > .nav > .search-box > .results > a > .search-item > .search-img{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(142, 133, 134, 0.45);
    border-radius: 8px;
}

.product-container > .right > .nav > .search-box > .results > a > .search-item > .search-img > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}





.product-container > .right > .nav > .search-box > input{
    box-sizing: border-box;
    padding: 3%;
    border-radius: 10px;
    width: 100%;
    border: 2px solid #958D8D;
    font-family: 'Inter', sans-serif;
}

.product-container > .right > .nav > .search-box > input::placeholder{
    color: rgba(142, 133, 134, 0.45);
    font-size: 12px;
    font-family: Inter;
    font-style: italic;
}



.avatar-container {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #958D8D;
    /* margin-right: 25% ; */

  }
  
.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-box{
    display: flex;
    /* gap: 10%; */
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(142, 133, 134, 0.45);
    padding: 3px;
    border-radius: 10px;
    
}

.profile-box > h3{
    color: #BCDFFB;
    font-size: 15px;
    font-weight: 900;
}

.drop-down{
    position: absolute;
    padding: 1%;
    top: 108%;
    right: 3%;
    border: 1px solid rgba(142, 133, 134, 0.45);
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 230px;
    max-height: 150px;
    border-radius: 10px;
    font-style: italic;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    /* align-items: center; */
    /* display: none; */
    justify-content: center;
    display: none;
    
}

.drop-down.open-menu{
    display: flex;
}

.drop-down-profile{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 4%;
}

.drop-down-profile p{
    color: #BCDFFB;
    font-size: 19px;
    font-weight: 900;
}

.drop-down hr{
    margin-top: 4%;
    margin-bottom: 0;
}

.drop-down-row{
    display: flex;
    gap: 17%;
    /* justify-content: space-evenly; */
    padding: 2%;
    margin-top: 5%
    
}
.drop-down-row i{
    color: #BCDFFB;
    font-size: 20px;

}

.drop-down-row a:hover{
    font-weight: 600;
}

#right-icon:hover{
    transform: translateX(5px);
}

.drop-down-row a{
    font-style: normal;
    color: #706A6B;
    text-decoration: none;
}

.anchor-div button{
    /* align-self: center; */
    margin: auto;
    padding: 4px 6px;
    border-radius: 5px;
    border: solid 1px rgba(142, 133, 134, 0.45);
    margin-top: 4px;
    font-weight: 900;
}



.drop-down-row button a:link, .drop-down-row button a:visited {
  color: black; /* Use the same color as the surrounding text */
  text-decoration: none; /* Remove underline */
}
/* End of NAV style */

/* Body style */
.body > .row{
    display: flex;
    justify-content: space-between;
}

.body{
    padding: 2%;
    width: 100%;
    height: 100%;
    padding-top: 8%;
    

    /* overflow: ; */

}

.body h2{
    font-family: 'Inter', sans-serif;
    color: #BCDFFB;
    font-size: 35px;
    font-style: italic;
    font-weight: 900;
}

.body > .row > button{
    padding: 1% 3%;
    border-radius: 15px;
    background-color: #BCDFFB;
    border: none;
    font-weight: 900;
    color: white;
    font-style: italic;
    font-size: 19px;
    
}

/* Modal styles */
.modal-header h2{
    color: #BCDFFB;
    font-weight: 700;
    /* font-style: italic; */
    font-size: 28px;
}


.modal-body h4{
    color: #8E8586;
    margin-bottom: 1%;
}

.modal-body input{
    width: 95%;
    padding: 2%;
    border-radius: 10px;
    border: 2px solid rgba(142, 133, 134, 0.45);
    color: rgba(142, 133, 134, 0.45);
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 12px;
    /* margin-right: 1%!important; */
}

.modal-body .name-box{
    margin-bottom: 2%;
}

.modal-body .name-box input::placeholder, textarea::placeholder{
    color: rgba(142, 133, 134, 0.45);
    font-size: 12px;
    font-family: Inter;
    font-style: italic;

}



textarea {
    resize: vertical; /* Allow vertical resizing */
    overflow: auto; /* Show scrollbars when content exceeds the dimensions */
    min-height: 100px; /* Set a minimum height for the input box */
    width: 95%; /* Set the width to occupy the available space */
    padding: 2%; /* Adjust the padding as needed */
    border: 2px solid rgba(142, 133, 134, 0.45);
    border-radius: 10px;
}

.name-box select{
    width: 100%;
    padding: 2%;
    border-radius: 10px;
    border: 2px solid rgba(142, 133, 134, 0.45);
    color: rgba(142, 133, 134, 0.45);
    font-size: 12px;
    font-style: italic;
}



#close{
    padding: 2%;
    background-color: rgba(142, 133, 134, 0.45);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 900;

}

#save{
    padding: 2%;
    background-color: #BCDFFB;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 900;
 
}

/* Dashboard styling */

.dash-row{
    display: flex;
    gap: 2%;
}
.dash-card{
    margin-top: 1%;
    width: 21%;
    height: 19%;
    border-radius: 10px;
    border: 1px solid rgba(142, 133, 134, 0.45);
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 7px 1%;
}

.dash-card > i{
    display: flex;
    justify-content: flex-end;
    color: #BCDFFB;
}

.dash-card .icon-div{
    width: 52px;
    height: 52px;
    border-radius: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.3);
    margin-bottom: 4%;
    /* background-color: red; */
}

.dash-card .icon-div i{
    font-size: 160%;
    color: #706A6B;
}

.dash-card p{
    font-size: 17px;
    font-family:'Inter', sans-serif;
    /* font-weight: 700; */
    color: #8E8586;
    font-style: italic;

}

.dash-card h4{
    color: #BCDFFB;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
}

.table-container{
    height: 45%;
    overflow: auto;
}

/* .table-container::-webkit-scrollbar{ 
    opacity: 1;
    transition: opacity 0.3s;
} */
table{
    width: 100%;
    border: 1px solid rgba(142, 133, 134, 0.45);
    margin-top: 1%;

}

thead{
    position: sticky;
    top: 0;
}

td, th {
    /* border: 1px solid #ddd; */
    padding: 8px;
    font-family: 'Inter', sans-serif;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover {
    background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #BCDFFB;
  color: white;
}


/* Product details styling */
.detail-container{
    display: flex;
    width: 100%;
    height: 100vh;
}


.detail-container .detail-left{
    /* padding: 10% 5%; */
    box-sizing: border-box;
    padding: 2%;
    background-color: #BCDFFB;
    flex-basis:56%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
}

.detail-container .detail-left .detail-img-box{
    width: 100%;
    height: 90%;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 20%; */
}

.detail-container .detail-left i{
    color: white;
    font-size: 30px;
}

.detail-img{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
}

.detail-container .detail-left img{
    /* display: flex; */
    /* justify-content: center; */
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* Product details right side styling */
.detail-right{
    /* width: 100%; */
    flex-basis: 39%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    justify-content: center;
    /* gap: 2px; */
}

.detail-right h3{
    color: #8E8586;
}

.detail-right h1{
    color: #BCDFFB;
}

.detail-right .description{
    width: 60%;
}

.detail-right .description p{
    color: #8E8586;
}

.price-container{
    margin-top: 2%;
    display: flex;
    padding-right: 52%;
    /* width: 50%; */
    justify-content: space-between;
}

.price-container h2{
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
    color: #8E8586;
    
}

.price-container #edit-product{
    background-color: #BCDFFB;
    border-radius: 17px;
    color: white;
    padding: 10% 40%;
    font-size: 22px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-style: italic;
   
}

.edit-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.edit-container i{
    font-size: 35px;
    color: #BCDFFB;

}

.detail-right hr{
    width: 60%;
    margin-top: 4%;
    margin-bottom: 1%;
}

.detail-pane{
    display: flex;
    gap: 5%;
    align-items: center;
}

.left-detail p, .right-detail p{
    font-family: 'Inter', sans-serif;
    color: #8E8586;
    margin-top: 10%;
}

.right-detail p{
    font-weight: 700;
}

/* Product page styling */
.product-card .product-img{
    width: 40%;
    height: 40%;
}

.product-card .product-img img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(142, 133, 134, 0.45);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    box-sizing: border-box;
    padding: 1% 1% 0 1%;
    width: 22%;
    /* max-height: 22%; */
    /* min-height: 30%; */
    margin-bottom: 2%;
}

.product-card h3{
    color: #8E8586;
    text-align: center;
    font-size: 26px;
    font-family: Inter;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
}

.product-card h2{
    font-size: 26px;
    
}

.product-card h4{
    color: #8E8586;
    text-align: center;
    font-size: 18px;
    font-family: Inter;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.info{
    margin-left: 90%;

}

.info i{
    color: #BCDFFB;
}

.product-row{
    display: flex;
    flex-wrap: wrap;
    gap:3%; 
    margin-top:1%;
    max-width:100%;
    
}

.chart-row{
    display: flex;
    width: 100%;
    height: 40%;
    /* gap: 3% */
    justify-content: space-between
}

.chart-box{
    width: 50%;
}

.payment-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}



.payment-row input{
    width: 12%;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;    
    font-weight: 600;
    color: #8E8586;
}
.payment-cards{
    /* height: 45%; */
    overflow-x: auto;
    width: 100%;
    padding: 0 1%;
    box-sizing: border-box;
    height: 34%;
}
.payment-card{
    margin-top: 1%;
    width: 100%;
    height: 9vh;
    /* border: 1px solid red; */
    border-radius: 15px;
    border: 1px solid rgba(142, 133, 134, 0.45);
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 1% 3%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.payment-card i{
    font-size: 25px;
    color: #BCDFFB;
    margin-right: 5%;
}

.payment-card > .date-box{
    display: flex;
    align-items: center;
}

.payment-card > .date-box > .detail-box > h4{
    white-space: nowrap;
    font-style: italic;
    color:  #8E8586;
}

.payment-card > .date-box > .detail-box > p{
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    /* font-weight: 600; */
    color:  #8E8586;
}


#no-payments{
    color: #8E8586;
    font-weight: 600;
    text-align: center;
    margin-top: 4%;
    font-size: 20px;
}