<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/styles.css">
    <title> Your Products </title>
</head>
<body>
    <div class="product-container">
        <div class="left">
            <h3> Essentials </h3>
            <div class="menu-items">
                <div class="item">
                    <i class="fa-regular fa-clock"></i>
                    <a href="dashboard.html"> Dashb<span>oard</span> </a>
                </div>
                <div class="item">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <a href="products.html"> Prod<span>ucts</span> </a>
                </div>
                <div class="item">
                    <i class="fa-regular fa-credit-card"></i>
                    <a href="payments.html"> Paym<span style="border-bottom: 3px solid white;">ents </span> </a>
                </div>
            </div>

        </div>
        <div class="right">
            <div class="nav">
                <input type="text" placeholder="Search for product..">
            
                <div class="profile-box">
                    <div class="avatar-container">
                        <img src="../images/avatar-img.png" alt="Avatar" class="avatar-image">
                    </div> 
                    <h3> John Doe</h3>
                </div>                 
            </div>

        </div>
    </div>
    
</body>
</html>